* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", serif;

}

body {
    background-color: #d8e2dc;
}

a:hover {
    /* color: blueviolet; */
}

.top-menu-contact li a {
    text-decoration: none;
}

.marquee-section {
    padding: 15px 0px;
}

.m-img {
    background-image: url('./web-assets/s1.jpg');
    width: 100%;
    height: 400px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px !important;
    overflow: hidden;
}

.service-content {
    display: block;
    transition: all 0.3s ease;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-height: 285px;
}

.service-content:hover {
    box-shadow: 0px 5px 20px #237fb8;
    transform: translateY(-15px);
}

.service-content img {
    /* display:block; */
    cursor: pointer;
    height: 285px;
}

.service-content img:hover {
    transform: scale(1.1);
    /* transform: translateY(-10px); */
}

.contacts {
    margin-top: 90px;
}

.contact-section {
    margin-top: 60px;
}

.contact-section p {
    font-size: 20px;
    line-height: 25px;
}

.contact-section p i {
    font-size: 40px;
    margin: 20px;
}

form {
    margin-top: 60px;
}

form label {
    font-size: 26px;
}

form input {
    width: 100%;
    height: 60px;
    display: block;
    padding: 20px;
    font-size: 20px;
}


textarea {
    display: block;
    width: 100%;
    height: 150px;
    padding: 20px;
    font-size: 20px;
}


.parent {
    width: 100%;
    height: 180px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.child {
    /* width: 100%; */
    height: 100%;
    background-size: cover;
    transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1),
        background-size 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    /* Smooth easing */
}

.child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.parent:hover .child {
    transform: scale(1.1);
}

.bg-one {
    background-image: url('./web-assets/Passport.webp');
}

/* .bg-two {
    background-image: url('./web-assets/earephones.avif');
   
    
    
/* } */



.slider img {
    width: 100%;
}

.slick-slide {
    margin: 0 10px;
}

/* whatsapp icon starts */
.whatsapp-icon {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 8%;
    right: 30px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    box-shadow: 0px 0px 22px #2ef909;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    /* Starting and ending position */
    50% {
        transform: translateY(-4px);
    }

    /* Move up */
}

.whatsapp-icon i {
    animation: bounce 0.6s ease-in-out infinite;
    /* Infinite up-down effect */
}

/* whatsapp icon ends */


/* phone icon starts */
.phone-icon {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 18%;
    right: 30px;
    background-color: #191cdd;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 0px 22px #2907e9;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

@keyframes ring {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0);
    }
}

.phone-icon i {
    animation: ring 0.6s ease-in-out infinite;
    /* Infinite ringing effect */
}

/* phone icon ends */

/* contact-us starts */
.contact-card {
    min-height: 260px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* contact-us ends */

.contact-btn1 {
    text-decoration: none;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px 20px;
}

.object-fit {
    object-fit: contain;
}